.level-image {
  overflow: visible;
  object-fit: none;
  pointer-events: auto !important;
}

.levelsColumns {
  display: flex;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto;
}

.levelsColumnsItem {
  flex-basis: 800px;
  max-width: 800px;
  flex-grow: 0;
}
