version: "3.9"
services:
  db:
    image: postgres
    env_file:
      - ${API_PATH}/dev.env
    volumes:
      - db:/var/lib/postgresql/data
  cache:
    image: redis:6.2.1-alpine
    command: redis-server
    ports:
      - '6379:6379'
    volumes:
      - cache:/data
  api:
    build: 
      context: ${API_PATH}
      dockerfile: ./docker/dev/Dockerfile
    env_file:
      - ${API_PATH}/dev.env
    command: bash -c "bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ${API_PATH}:/waldo_api/
    ports:
      - "3001:3000"
    depends_on:
      - db
      - cache
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://cache:6379/0
  web:
    build: ${CLIENT_PATH}
    ports:
      - "3000:3000"
    volumes: 
      - ${CLIENT_PATH}:/waldo_client
    depends_on:
      - api
volumes:
  db:
  cache:
