.leaderboard__title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
}

.leaderboard__title-background {
  background-position: center;
}

.leaderboard__title * {
  color: white;
}

.leaderboard__pagination {
  margin-top: 1em;
}

.min {
  width: 5%;
  white-space: nowrap;
}

.fill {
  width: 100%;
}
