version: "3.9"
services:
  cache:
    image: redis:6.2.1-alpine
    command: redis-server
  api:
    build: 
      context: ${API_PATH}
      dockerfile: ./docker/prod/Dockerfile
    env_file:
      - ${API_PATH}/prod.env
    command: sh -c "bundle exec rails s -p 3000 -b '0.0.0.0'"
    depends_on:
      - cache
    environment:
      RAILS_ENV: production
      REDIS_URL: redis://cache:6379/0
  build:
    build: 
      context: ${CLIENT_PATH}
      dockerfile: ./docker/prod/Dockerfile
    volumes:
      - web-root:/app/build
    environment:
      NODE_ENV: 'production'
  web:
    image: nginx:1.19.9-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web-root:/var/www/html
      - ${CLIENT_PATH}/nginx:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - dhparam:/etc/ssl/certs
    depends_on:
      - build
      - api
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - web
    command: certonly --webroot --webroot-path=/var/www/html --email ${EMAIL} --agree-tos --no-eff-email --force-renewal -d waldo.rankoliang.com
volumes:
  web-root:
  certbot-etc:
  certbot-var:
  dhparam:
    driver: local
    driver_opts:
      type: none
      device: ${CLIENT_PATH}/dhparam
      o: bind
