body,
#root,
.App {
  height: 100vh;
}

.App {
  display: flex;
  flex-flow: column;
}

.scrollable-wrapper {
  overflow: scroll;
  position: relative;
  height: 100%;
}

.marker {
  position: absolute;
}

.marker-success {
  color: #005500;
  z-index: 1;
}

.marker-failure {
  pointer-events: none;
  color: #aa0000;
}

.character-select-menu {
  background: white;
  position: absolute;
}

.level-card {
  margin-top: 1em;
  margin-bottom: 1em;
}

.level-card__thumbnail {
  max-height: 70vh;
  overflow: hidden;
}

.level-card__thumbnail img {
  object-fit: none;
}

.leaderboard__title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
}

.leaderboard__title-background {
  background-position: center;
}

.leaderboard__title * {
  color: white;
}

.min {
  width: 5%;
  white-space: nowrap;
}

.fill {
  width: 100%;
}
