body,
#root,
.App {
  height: 100vh;
}

.App {
  display: flex;
  flex-flow: column;
}

.mb-4 {
  margin-bottom: 1em;
}

.m-4 {
  margin: 1em;
}

.react-transform-component {
  width: initial !important;
  height: initial !important;
}

.react-transform-element {
  width: var(--image-width) !important;
  height: var(--image-height) !important;
}

.progress-bar {
  margin: 1em 0;
  width: 100%;
}
